modules = ["nodejs-20", "web"]
run = "run"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "run"]

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 46634489
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd CineLoop && npm run dev"
